@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Riot&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ultra&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ultra", serif;
  box-sizing: border-box;
}
/* Making background as a yellow like a book design */
main {
  /* height: 100vh; */
  /* width: 100vw; */
  background-color: yellow;
}

.gamebook {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  gap: 10px;
}
/* styling individual row item */
.row {
  background-color: red;
  justify-content: space-between;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 11px;
}

/* first bg row color */
.row-1-noun,
.button1 {
  background-color: #e006e0;
}
/* Second row bg color */
.row-2-verb,
.button2 {
  background-color: skyblue;
}
/* third row bg color */
.row-3-adjective,
.button3 {
  background-color: #32ef32;
}

.row-4-noun,
.button4 {
  background-color: orange;
}
.row-5-preposition,
.button5 {
  background-color: pink;
}
/* styling the row heading number */
.row-heading {
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.row-individual {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-individual-img {
  margin-top: 15px;
  height: 3rem;
  width: 3rem;
}
.row-individual p {
  margin-top: 0.2rem;
}

/* Buttons styling here */
.buttons {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  margin-top: 1rem;
  gap: 10px;
  width: 46rem;
  margin: 0 auto;
}
.buttons button {
  /* background-color: red; */
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
.other-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.other-buttons button {
  margin: 1rem 0;

  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}
.playback {
  background-color: grey;
}
.surprise {
  background-color: skyblue;
}
.reset {
  background-color: red;
}
/* Your text */
.displayed-text {
  text-align: center;
}
